* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url('../images/background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.mobile-navigation {
  display: none;
  width: 50px;
  border: none;
  background-color: transparent;
}

.header .logo img {
  height: 80px;
}

.header .navigation a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 0;
  margin-left: 20px;
}

.header .navigation a.current {
  border-bottom: 1px solid white;
}

.announcement {
  display: flex;
  align-items: center;
  height: calc(100vh - 165px);
  padding: 70px;
  color: white;
  width: 700px;
}

@media only screen and (max-width: 705px) {
  .announcement {
    width: auto;
  }
}

@media only screen and (max-width: 425px) {
  .about {
    padding: 0 10px;
  }
  .navigation {
    display: none;
  }
  .mobile-navigation {
    display: block;
  }
}

.announcement h1 {
  font-size: 50px;
}

.announcement p {
  font-size: 15px;
  letter-spacing: 1px;
}

.about {
  width: 600px;
  padding: 120px 0;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 697px) {
  .about {
    width: auto;
  }
}

.about h2 {
  font-size: 40px;
}

.about p {
  font-size: 17px;
  letter-spacing: 1px;
}

.contact {
  color: white;
  padding: 120px 0;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('../images/coffee-beans.jpg');
  text-align: center;
  background-size: cover;
}

.form {
  width: 400px;
  margin: 0 auto;
}

@media only screen and (max-width: 707px) {
  .form {
    padding: 0 20px;
    width: auto;
  }
}

form .full-name {
  display: flex;
  justify-content: space-between;
}

form .full-name .form-group {
  flex-basis: 49%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label,
.form-group input {
  display: block;
  text-align: left;
  width: 100%;
}

.form-group label {
  margin: 10px 0;
}

.form-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group input:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.form button {
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #f0810f;
  letter-spacing: 1px;
}

.form button:hover {
  opacity: 0.8;
}

.form .label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 40px 0;
}

.footer a {
  color: #f0810f;
}
